.inline-grid-edit{

    th, td, div{
        font-size: 12px !important;
        text-align: left;
    }

    thead tr th {
        // font-weight: bold;
        font-size: 1.2em !important;
    }
    
}

