$bg-white: white !default;
$bg-drawer: #3f414f;
$bg-header: #f96332;

// $bg-dark: #2d2b2b;
$bg-dark: #0a0a0a;
$bg-dark-1: #1f1f1f;
$bg-dark-0: #141414;

$bg-dark-tint: rgba(18,18,18,0.25);
$bg-dark-tint-solid: #222121;

// grids and tables
$bg-active-row: #4CAF50 !default;
$color-active-row: white !default;

$small: 400px;

$bg-filter-chip-dark: #383736;