@font-face {
    font-family: 'DaxPro';
    src: url('dax-pro-regular-webfont.woff2') format('woff2'),
         url('dax-pro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}